<?xml version="1.0" encoding="UTF-8"?>
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>app_bg</string>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>进阶助手</string>
</dict>
